node_modules/
dist/
distForReplace/
coverage/
build/
doc/

.idea
.DS_Store
npm-debug.log

apidoc/
jsdoc/
tmp/

syntax: glob

*.heapsnapshot
*.log
/public
/log/

syntax: regexp
config/.*\.json$
/knexfile.js
/doc/
