{
  "redis": {
    "host": "<IP addr>",
    "port": <Integer>
  },
  "sentry": {
    "dsn": "<String<Url>>"
  },
  "service": {
    "protocol": "http(s)",
    "domain": "<String>",
    "port": <Integer>
  },
  "secrets": {
    "jwt": "<String>"
  }
}
